body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f8f9fa;
}
.animated-header {
  opacity: 0;
  transform: translateY(50px); /* Comienza 50px más abajo */
  animation: slideUp 1.5s ease-out forwards;
}
.animated-photo {
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 1.5s ease-out forwards;
  animation-delay: 0.5s; /* La imagen aparecerá 0.5s después del nombre */
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.carousel-item img {
	width: 700px; 
	height: 500px; 
	object-fit: cover; 
  }

  .custom-img {
    max-width: 35%; 
  }
  @media (max-width: 768px) {
    .cont-foto {
      display: block;
      flex-wrap: wrap; 
    }
    .custom-img{
      max-width: 100%;
    }
  }


.custom-carousel-control-prev-icon,
.custom-carousel-control-next-icon {
  background-color: rgb(109, 176, 226); 
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-size: 100%, 100%;
  background-image: none;
}
.custom-carousel-control-prev-icon::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-top: .5rem solid white;
  border-right: .5rem solid white;
  transform: rotate(-135deg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.75rem;
  margin-left: -0.75rem;
}
.custom-carousel-control-next-icon::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-top: .5rem solid white;
  border-right: .5rem solid white;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.75rem;
  margin-left: -0.75rem;
}
.umbra{
box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.primer{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  
  }


  .card-custom {
    flex: 1 1 30%;
    margin: 0.5rem;
  }
  @media (max-width: 768px) {
     .card-custom {
      flex: 1 1 100%;
    }
  }

  .language-card {
    transition: transform 0.3s;
    margin-bottom: 1rem;
  }
  .language-card:hover {
    transform: scale(1.05);
  }
  .language-icon {
    font-size: 3rem;
    color: #007bff;
  }
  .capacity-card {
    transition: transform 0.3s;
    margin-bottom: 1rem;
    text-align: center;
  }
  .capacity-card:hover {
    transform: scale(1.05);
  }
  .capacity-icon {
    font-size: 3rem;
    color: #007bff;
  }
  .contact-button {
    margin-top: 2rem;
  }